<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- CSS Files -->
  <link href="css/argon-dashboard.css" rel="stylesheet" />
  <link href="css/profile.css" rel="stylesheet" />
  <link href="css/sidenav.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <div class="sidenav">
        <div align="center" class="logo">LOGO</div>
        <hr>
        <a href="../dashboard"><i class="glyphicon glyphicon-dashboard"></i>  Dashboard</a>
        <a href="../expense"><i class="glyphicon glyphicon-usd"></i> Expense</a>
        <a href="../future"><i class="glyphicon glyphicon-send"></i> Future</a>
        <a href="../profile"><i class="glyphicon glyphicon-user"></i> Profile</a>
      </div>
      
     
    </div>
  </nav>

  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">DashBoard</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <p class="input-group-text"><i class="fas fa-search"></i></p>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <p class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="images/admin.png">
                </p>
                <div class="media-body ml-2 d-none d-lg-block">
                  <p class="mb-0 text-sm  font-weight-bold"><%= uid %></p>
                </div>
              </div>
            </a>
            
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px;background-size: cover; background-position: center top;">
      <!-- Mask -->
      <p class="mask bg-gradient-default opacity-8"></p>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        

        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Analysis</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form class="row" id="year" action="/chart" method="POST">
              <span class="col-1" ></span>
              <h3 class="col-2" >Enter Year</h3>
                <input class="form-control col-4" type="number" name="startDate">
                <span class="col-1" ></span>
                <input type="submit" class="btn btn-primary btn-md col-2" name="submit" value="Visualize">
              </form>
              <br>
              <div class="row" >
                <div class="col-6">
                  <canvas id="myChart"></canvas>                      
                </div>

                <div class="col-6 ">
                  <canvas id="myChart2"></canvas>    
                </div>
              </div>
              
              
              <div style="display: none;" id="dard"><%= freq?freq:null %></div>
              <div style="display: none;" id="dard_sum"><%= sum_expenses?sum_expenses:null %></div>

            </div>
          </div>
        </div>

      </div>
      <br><br>
    </div>
  </div>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

</body>

</html>
<script type="text/javascript">
  // var freq;
  try {
    var dard = JSON.parse('<%- freq %>');
    //alert(dard);
    // data_x = freq;
    // alert(freq);
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November','December'],
          datasets: [{
              label: 'Count of Transactions',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: JSON.parse(document.getElementById("dard").innerHTML||[])

        }],
    },
      options: {}
  });
    // console.log(data_x);
  }
  catch(err){
    // alert("DARD BHENCHOD");
    data_x = [0,0,0,0,0,0,0,0,0,0,0,0];
    // alert(freq);
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November','December'],
          datasets: [{
              label: 'Count of Transactions',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              // data: [0, 10, 5, 2, 20, 30, 45] //freq
              data: data_x

        }],
    },
      options: {}
  });
    // console.log(data_x);
  }
</script>



<script type="text/javascript">
  // var freq;
  try {
    var dard = JSON.parse('<%- sum_expenses %>');
    //alert(dard);
    // data_x = freq;
    // alert(freq);
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November','December'],
          datasets: [{
              label: 'Sum of Transactions',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: JSON.parse(document.getElementById("dard_sum").innerHTML||[])

        }],
    },
      options: {}
  });
    // console.log(data_x);
  }
  catch(err){
    // alert("DARD BHENCHOD");
    data_x = [0,0,0,0,0,0,0,0,0,0,0,0];
    // alert(freq);
    var ctx = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November','December'],
          datasets: [{
              label: 'Sum of Transactions',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              // data: [0, 10, 5, 2, 20, 30, 45] //freq
              data: data_x

        }],
    },
      options: {}
  });
    // console.log(data_x);
  }
</script>